@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto&display=swap');


body{
    margin: 0;
    background: linear-gradient(46.03deg,#101023 14.21%,#192155 83.82%);
    width: 100%;
}

main{
    color: white;
}

.container{
    width: 100vmax;
    margin: 0;
    height: auto !important;
    padding: 0;
    
    
}

#logo{
    display: flex;
    justify-content: center;
}

#logo img{
    height: 100px;
}


#top{
    background: linear-gradient(46.03deg,#101023 14.21%,#192155 83.82%);
    padding: 0!important;
    width: 100%;
}

#top img{
    height: 50px;
}

#top h2{
    display: flex;
    justify-content: center;
    color: white;
}
 
hr{
    opacity: 0%;
}
th, td{
    text-align: center; 
  /* per allineare testo nelle colonne si usa text-align */
}

menu img{
    display: block;
}

#navebar{
    margin: 0;
    padding-top: 20px;
    align-items: center;
    }


#lista{
    font-family: 'Lilita One';
    color: #fff!important;
    font-size: 20px!important;
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
}

th{
    padding-left: 0.5%;
}
video{
    height: 200px;
}
#newsletter{
    display: flex;
}
#button{
    width: 50px;
}

#correlati h3{
    display: flex;
    justify-content: center;
}
#correlati{
    margin: 0;
    padding-top: 30px;
}

.articoli{
    padding-bottom: 10px;
}

#more{
    display: flex;
    justify-content: space-evenly;
}

footer h4{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    color: white;
}

#person{
    display: flex;
    width: 100%;
}



main h1{
    text-align: center;
}


